openapi: 3.0.0   # Open api version

info:
  title: GPT2-My Little Pony
  version: "v0.1"
  contact:
    name: AInizer - Lee hoseop
  description: |
    This app is generate My little pony script as array.
    ---
      How to use:
      * First, Choose My little pony character name.
      * Second, Fill what the character will say in text. This will be base of script.
      * And then, Fill number in length. Text is created as long as "length". I recommend between 100 and 300.
      * If length is so big, generate time will be long.
    ---
    And you can use this in [demo page](https://master-gpt2-my-little-pony-fpem123.endpoint.ainize.ai/).

    Fine tuning data reference >> [My Little Pony Transcript](https://www.kaggle.com/liury123/my-little-pony-transcript?select=clean_dialog.csv)

servers:
  - url: https://master-gpt2-my-little-pony-fpem123.endpoint.ainize.ai/

paths:
  /mlp:
    post:
      requestBody:
        required: true
        description: |
          This request will generate My little pony script.

          Request body example

              name: Twilight Sparkle
              text: Hello everyone
              length: 150

        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                name:
                  type: string
                  enum: [Twilight Sparkle, Rarity, Rainbow Dash, Applejack, Fluttershy, Pinkie Pie]
                  description: "The My little pony character name."
                text:
                  type: string
                  description: "The base of script."
                length:
                  type: string
                  description: "The size of text."
              required:
                - name
                - text
                - length
      responses:   # Set response
        '200':
          description: "Successful Response"
          content:
            application/json:
              schema:
                type: object
        '400':
          description: "Bad Request Error"
        '429':
          description: "Too many requests"
        '500':
          description: "Server-side Error"